
body {
    background: white;
}

#main {
    margin: 20px;
}


/*SEARCH BOX*/

aside {
    margin: 6px;
    background-color: rgba(243, 240, 204, 0.925);
    border-radius: 8px;
}

form {
    margin: 10px;
}

input {
    width: 70%;
}

#submit {
    background-color: rgb(55, 175, 255);
    border: 1px solid blue;
    color: whitesmoke;
    font-size: x-small;
    text-align: center;
    width: 20%;
}

#search-history {
    padding-bottom: 10px;
}
.history {
    width: 100%;
    text-align: left;
    border: 1px solid gray;
    background-color: white;
    padding-bottom: 4px;
    margin-left: -5px;
    margin-bottom: -1px;
    
}

/*RESULTS BOX*/

#results-box {
    margin: 6px;
    padding-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

/* temp weather */

#temp-weather {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

/* current weather */

#current-weather {
    border: 1px gray solid;
    border-radius: 8px;
    padding: 10px;
}

h3 {
    font-size: 3vw;
}

#uv {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}


/* forecast */

#forecast {
    margin: 6px;
}

.day {
    border-radius: 8px;
    background-color: rgb(55, 175, 255);
    margin: 3px;
    padding: 4px;
}

h5 {
    font-size: 16px;
}

.one-day {
    font-size: 11px;
    margin-bottom: 4px;
}

/* partial width monitor displays */
@media screen and (max-width: 992px) {
    #forecast {
        display: flex;
        flex-direction: column;
    }

    .day {
        padding: 10px 6px 0px 6px;
        display: flex;
        justify-content: space-between;
    }

    .day div {
        display: flex;
    }

    .day img {
        margin-top: 0px;
        margin-bottom: 14px;
    }

    .day p {
        padding-top: 6px;
        margin: 0px 5px 0px 5px;
    }

    .day h5 {
        padding-top: 5px;
    }
}

/* tiny screens */
@media screen and (max-width: 772px) {

    .day {
        display: flex;
        justify-content: space-around;
    }

    .day div {
        display: block;
        margin-top: -6px;
    }
}